<div>
    <form [formGroup]="loginForm" (submit)="login()">
        <mat-grid-list cols="1" rowHeight="50px">
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <h2>Login</h2>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Example" formControlName="userName" type="text">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="********" formControlName="password">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
            </mat-grid-tile>
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <mat-label>You don't have an account? <a [routerLink]="'/register'">Register here</a></mat-label>
            </mat-grid-tile>
        </mat-grid-list>        
    </form>
</div>